TARGET_ENV="" # local, stage, or live.

PORT="7002"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/database-name?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/database-name?schema=public" # For development, it can be the same as DATABASE_URL.

JWT_SECRET_KEY="" # Random string to sign JWT tokens.
ENCRYPTION_KEY="" # Random string to generally encrypt data.

MAIL_FROM_DOMAIN="mail.your-domain.com"

AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET="" # The S3 bucket which is used to upload files to, and also serves as the CDN to download files from.
AWS_SES_CONFIGURATION_SET_NAME="" # A configuration set with an event destination to a SNS topic which the event end-point of the emailService is subscribed to.

GOOGLE_OAUTH2_CLIENT_ID=""
GOOGLE_OAUTH2_CLIENT_SECRET=""
GOOGLE_GENERATIVE_AI_API_KEY=""

OPENAI_API_KEY=""

GROQ_API_KEY=""

ANTHROPIC_API_KEY=""

REPLICATE_API_KEY=""
REPLICATE_IMAGE_ANALYZER_MODEL=""

SCRAPINGBEE_API_KEY=""

FIRECRAWL_API_KEY=""

BROWSERBASE_API_KEY=""
BROWSERBASE_PROJECT_ID=""

STRIPE_API_KEY=""
STRIPE_WEBHOOK_SIGNING_SECRET=""
STRIPE_NAME_PREFIX="Local: " # Or "Stage: " for stage and "" for live environments.
STRIPE_PRODUCTS_JSON='
{
  "plans": {
    "free": {
      "name": "Free Plan",
      "price": 0,
      "allowsCreditPacks": false,
      "includedCopilots": false,
      "includedContacts": false,
      "includedObjects": false,
      "initialEmails": 2000,
      "initialCredits": 100,
      "maximumAllowedNegativeCredits": 0,
      "stripeProductId": "",
      "stripePriceId": ""
    },
    "premium": {
      "name": "Premium Plan",
      "price": 79,
      "allowsCreditPacks": true,
      "includedCopilots": 1,
      "includedContacts": 5000,
      "includedObjects": 500,
      "initialEmails": "infinite",
      "initialCredits": 300,
      "maximumAllowedNegativeCredits": 500,
      "stripeProductId": "prod_Qmi...qzW",
      "stripePriceId": "price_1Pv...8Ei"
    }
  },
  "copilotSeat": {
    "name": "Copilot Seat",
    "price": 29,
    "stripeProductId": "prod_Qmi...2Jj",
    "stripePriceId": "price_1Pv...uAc"
  },
  "contactSeat": {
    "name": "Contact Seat",
    "price": 0.01,
    "stripeProductId": "prod_Qmi...AZq",
    "stripePriceId": "price_1Pv...vi8"
  },
  "objectSeat": {
    "name": "Object Seat",
    "price": 0.01,
    "stripeProductId": "prod_Qmi...QOb",
    "stripePriceId": "price_1Pv...7gu"
  },
  "creditPacks": [
    {
      "name": "Credit Pack 1000",
      "price": 129,
      "credits": 1000,
      "stripeProductId": "prod_Qmi...ZOi",
      "stripePriceId": "price_1Pv...FYM"
    },
    {
      "name": "Credit Pack 5000",
      "price": 629,
      "credits": 5000,
      "stripeProductId": "prod_Qmi...P04",
      "stripePriceId": "price_1Pv...FGX"
    },
    {
      "name": "Credit Pack 10000",
      "price": 1229,
      "credits": 10000,
      "stripeProductId": "prod_Qmi...Nph",
      "stripePriceId": "price_1Pv...5ou"
    },
    {
      "name": "Credit Pack 25000",
      "price": 2899,
      "credits": 25000,
      "stripeProductId": "prod_Qmi...TKv",
      "stripePriceId": "price_1Pv...yYz"
    },
    {
      "name": "Credit Pack 50000",
      "price": 5599,
      "credits": 50000,
      "stripeProductId": "prod_Qmi...P5p",
      "stripePriceId": "price_1Pv...0ms"
    },
    {
      "name": "Credit Pack 75000",
      "price": 8199,
      "credits": 75000,
      "stripeProductId": "prod_Qmi...MTu",
      "stripePriceId": "price_1Pv...fTQ"
    }
  ]
}
'
